.booking-card-container{
    width: 100%;
    padding: 25px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.07);
    height: 125px;
}
.booking-content{
    width: 100%;
}
.booking-card-container img{
    margin-right: 15px;
}

.info-heading h2{
    margin-bottom: 0;
}

.booking-status{
    width: 250px;
    font-size: 20px;
    font-weight: bold;
}

/* .hotel-address{
    color: #8D8D8D;
} */