<nz-table 
class="table"
[nzData]="requestAllocations"
nzShowSizeChanger
[nzPageSize]="6"
(nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
      <tr>
        <!-- <th>Id</th>
        <th>Hotel Name</th>
        <th>Total Rent</th>
        <th>CheckIn</th>
        <th>CheckOut</th>
        <td>Status</td>
        <th>Room no.</th>
        <th>Actions</th> -->
        <th *ngFor="let column of listOfColumn" 
        [nzSortFn]="column.compare" 
        [nzSortPriority]="column.priority">
        {{column.title}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let requestAllocation of currentPageRequestAllocations">
        <td>{{ truncateText(requestAllocation.bookingRequest.id) }}</td>
        <td>{{ requestAllocation.bookingRequest.hotel?.name }}</td>
        <td>Rs. {{ requestAllocation.bookingRequest.totalRent }}</td>
        <td>{{ getDate(requestAllocation.bookingRequest.checkInDate) }}</td>
        <td>{{ getDate(requestAllocation.bookingRequest.checkOutDate) }}</td>
        <td>{{ numberToStatus(requestAllocation.bookingRequest.bookingStatus) }}</td>
        <td>{{requestAllocation.allocation?.roomNo || "N/A"}}</td>
        <td>
            <div *ngIf="requestAllocation.bookingRequest.bookingStatus === 0;else notPending">
                <a (click)="approve(requestAllocation.bookingRequest.id, requestAllocation.bookingRequest.hotelId)">Approve</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this task?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="reject(requestAllocation.bookingRequest.id)"
                (nzOnCancel)="null" >Reject</a>
            </div>
            <ng-template #notPending>
                <div *ngIf="requestAllocation.bookingRequest.bookingStatus === 1">
                  <button nz-button nzType="primary" (click)="showCalendar(requestAllocation.bookingRequest.checkInDate, requestAllocation.bookingRequest.checkOutDate)">
                    Calendar
                  </button>
                </div>
                <div *ngIf="requestAllocation.bookingRequest.bookingStatus === 2 ">
                    <p class="rejected"></p>
                </div>
            </ng-template>
        </td>
      </tr>
    </tbody>
  </nz-table>