<nz-layout>
  <nz-header *ngIf="showNavbar" class="header" nz-flex nzJustify='space-between' nzAlign="center">
    <div class="logo flex-item"><img src="../assets/logo.png" alt=""></div>

    <div class="links flex-item" nz-flex nzJustify="space-between">
      <a nz-button nzType="link" routerLink="/home" [ngClass]="(router.url === '/home' || router.url === '/hotel-detail')? 'selected':''">Home</a> 
      <a nz-button nzType="link" href="#" disabled>About</a>
      <a nz-button nzType="link" href="#" disabled>Contact</a>
    </div>
    
    <div class="user-buttons flex-item" nz-flex nzAlign="center">
      <!-- <app-book-btn></app-book-btn> -->
      <button nz-button nzType="link" (click)="navToMyBooking()">My Bookings</button>
      <button class="login-btn">Login</button>
    </div>
  </nz-header>

  <nz-content>
    <router-outlet (activate)="toggleNavbar($event)"></router-outlet>
  </nz-content>

  <nz-footer *ngIf="showNavbar" class="footer" nz-flex nzJustify="space-between" nzAlign="center">
    
    <div class="review">
      <div class="review-heading dacing-script">
        Paradise view
      </div>
      <p class="footer-text">
        The service at the Hotel Monteleone was exceptional. There was absolutely no issue that was not addressed timely and with satisfactory results. We were particulary impressed with how the hotel staff anticipated our needs (periodically coming by the Board Room to check with us)
      </p>
    </div>
    <div class="footer-links" nz-flex nzJustify="space-between">
      <div class="link-column">
        <h4 class="footer-column-heading">Quick links</h4>
        <p class="footer-text">Room booking</p>
        <p class="footer-text">Rooms</p>
        <p class="footer-text">Contact</p>
        <p class="footer-text">Explore</p>
      </div>

      <div class="link-column">
        <h4 class="footer-column-heading">Company</h4>
        <p class="footer-text">Privacy policy</p>
        <p class="footer-text">Refund policy</p>
        <p class="footer-text">F.A.Q</p>
        <p class="footer-text">About</p>
      </div>

      <div class="link-column">
        <h4 class="footer-column-heading">Social media</h4>
        <p class="footer-text">Facebook</p>
        <p class="footer-text">Twitter</p>
        <p class="footer-text">Instagram</p>
        <p class="footer-text">Linkedin</p>
      </div>
    </div>
    <div class="newsletter" nz-flex [nzVertical]="true" nzJustify="space-between">
      <div class="footer-column-heading">Newsletter</div>
      <div class="footer-text">Kindly subscribe to our newsletter to get
        latest deals on our rooms and vacation
        discount.</div>
      <div class="newsletter-email-input">
        <input type="text" placeholder="Enter your email">
        <button class="newsletter-button">Subscribe</button>
      </div>
    </div>

  </nz-footer>
</nz-layout>